extends layout

block content
  div(class="container mt-4")
    h1 Digital Health Tools Inventory
    form(class="d-flex", action="/" method="get")
      input(class="form-control me-2", type="search", placeholder="Search digital health tools...", name="search", value=searchQuery)
      button(class="btn btn-outline-success", type="submit") Search
    ul(class="list-group mt-3")
       each company in company_list 
          li(class="list-group-item d-flex justify-content-between align-items-center")
            span= company.name + ' : ' + company.description
            a(href=company.url, class="btn btn-primary btn-sm") View
        
        
      

