extends layout

block content
  h1 Digital Health Tools Inventory
  form(action="/" method="get")
    input(type="text" placeholder="Search digital health tools..." name="search" value=searchQuery)
    button(type="submit") Search
  ul
    
