extends layout

block content
  div(class="container mt-4")
    h1 Digital Health Tools Inventory
    form(class="d-flex", action="/" method="get")
      input(class="form-control me-2", type="search", placeholder="Search digital health tools...", name="search", value=searchQuery)
      button(class="btn btn-outline-success", type="submit") Search
    if tools.length
      ul(class="list-group mt-3")
        each tool in tools
          li(class="list-group-item d-flex justify-content-between align-items-center")
            span= tool.name + ' - ' + tool.description
            a(href=`/tools/${tool.id}`, class="btn btn-primary btn-sm") View
    else
      p No tools found
